# Ignore node_modules directory
node_modules/

# Ignore build output directories
dist/
.vitepress/dist/

# Ignore temporary and cache directories
.temp/
.cache/
.vitepress/cache/

# Ignore IDE and editor specific directories
.idea/
.vscode/

# Ignore log, temporary, swap, backup, and original files
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig

# Ignore macOS and Windows system files
.DS_Store
Thumbs.db